@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}

header {
  border-top: 10px solid #44337a;
  background-color: #d2b4f6;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1300px;
}

header a {
  text-decoration: none;
  color: white;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homepage button {
  background-color: #2ea44f;
  color: white;
  border-style: none;
  border-radius: 8px;
  padding-inline: 10px;
}



i {
  color: #44337a;
  border: black solid 2px;
}

.livres {
  margin: 30px;
}

#livre {
  margin: 40px;
}

section {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 90%;
    max-width: 1100px;
}

/* Style des cartes */
section .container .card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.25s ease;
    border: 1px solid #e7e7e7;
}

section .container .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* Titre dans les div */
section .container .card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
}

/* Texte dans les div */
section .container .card p {
    font-size: 1rem;
    color: #555;
}

a{
  text-decoration: none;
}

.ri-eye-line, .ri-pencil-fill, .ri-delete-bin-fill {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    cursor: pointer;
    background: #f4f4f4;
    transition: 0.25s ease;
    font-size: 1.3rem;
    color: #444;
}

.ri-eye-line, .ri-pencil-fill, .ri-delete-bin-fill:hover {
    background: #e3e3e3;
}

.ri-eye-line, .ri-pencil-fill, .ri-delete-bin-fill:active {
    transform: scale(0.9);
}

#afficher_icone {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#titre_auteur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#creer {
  padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: none;
    cursor: pointer;
    background: #2ea44f;
    transition: 0.25s ease;
    font-size: 1.25rem;
    color: white;
}

